In [24]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Admin\Downloads\oil  pricesdata Edited - oil_prices.csv")
df.head()

,.;,Date,Price Per Barell,Exrates,PMS,AGO,Kero,Average_price_crude,Price_oil_internationally
0,0,14/01/2010,89.15,80.57,94.03,87.45,75.83,85.77,45.18
1,1,14/01/2011,89.17,81.03,95.67,88.71,77.51,87.30,45.45
2,2,14/02/2011,88.58,81.47,98.08,91.72,79.52,89.77,45.39
3,3,14/03/2011,102.86,84.21,102.44,94.53,83.97,93.65,54.48
4,4,14/04/2011,109.53,83.89,111.17,107.52,90.91,103.20,57.79

In [25]:
# column names
df.columns

Index(['.;', 'Date', 'Price Per Barell', 'Exrates', 'PMS', 'AGO', 'Kero',
       'Average_price_crude', 'Price_oil_internationally'],
      dtype='object')

In [26]:
# Number of rows and columns
df.shape

(138, 9)

In [27]:
# summary statistics
df.describe()

,.;,Price Per Barell,Exrates,PMS,AGO,Kero,Average_price_crude,Price_oil_internationally
count,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,137.000000,138.000000
mean,68.434783,70.756014,97.766232,108.358478,97.701377,81.371667,95.825255,42.637464
std,39.996525,22.519599,9.301060,12.587648,12.191943,17.008631,13.432170,11.484366
min,0.000000,17.640000,80.570000,80.710000,65.700000,39.620000,63.630000,11.840000
25%,34.250000,50.660000,87.460000,99.715000,88.710000,66.432500,85.500000,32.595000
50%,68.500000,67.755000,101.170000,109.390000,101.935000,83.380000,99.140000,43.850000
75%,101.750000,93.142500,103.545000,115.160000,106.045000,94.305000,104.530000,51.717500
max,138.000000,112.480000,115.500000,150.120000,131.000000,118.940000,133.350000,81.710000

In [28]:
# column types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   .;                         138 non-null    int64
 1   Date                       138 non-null    object
 2   Price Per Barell           138 non-null    float64
 3   Exrates                    138 non-null    float64
 4   PMS                        138 non-null    float64
 5   AGO                        138 non-null    float64
 6   Kero                       138 non-null    float64
 7   Average_price_crude        137 non-null    float64
 8   Price_oil_internationally  138 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 9.8+ KB

In [29]:
# checking for nulls
df.isnull().sum()

.;                           0
Date                         0
Price Per Barell             0
Exrates                      0
PMS                          0
AGO                          0
Kero                         0
Average_price_crude          1
Price_oil_internationally    0
dtype: int64

In [35]:
df["Average_price_crude"].fillna(df["Average_price_crude"].mean(), inplace=True)

In [36]:
df.isnull().sum()

.;                           0
Date                         0
Price Per Barell             0
Exrates                      0
PMS                          0
AGO                          0
Kero                         0
Average_price_crude          0
Price_oil_internationally    0
dtype: int64

## Building a linear regression model

In [38]:
# identify x and y
df = df[["Price Per Barell", "Exrates", "Average_price_crude"]]
df.head()

   Price Per Barell  Exrates  Average_price_crude
0             89.15    80.57                85.77
1             89.17    81.03                87.30
2             88.58    81.47                89.77
3            102.86    84.21                93.65
4            109.53    83.89               103.20

In [42]:
x = df.drop("Average_price_crude", 1)
y = df["Average_price_crude"]

print(x.shape)
print(y.shape)

(138, 2)
(138,)

C:\Users\Admin\AppData\Local\Temp\ipykernel_19068\3977246121.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = df.drop("Average_price_crude", 1)

In [44]:
# create a train test split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
print(x.shape, y.shape, x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(138, 2) (138,) (96, 2) (42, 2) (96,) (42,)

In [46]:
# initialize a regresssion model
from sklearn.linear_model import LinearRegression 
from sklearn.svm import LinearSVR
from sklearn.ensemble import GradientBoostingRegressor as GBR
model = LinearRegression()

In [49]:
model1 = LinearSVR()
model1 = GBR()

In [50]:
# train the model
model.fit(x_train, y_train)
model1.fit(x_train, y_train)

GradientBoostingRegressor()

In [51]:
# test the model
from sklearn.metrics import mean_absolute_error as mae
pred = model1.predict(x_test)
pred[:10]

array([ 95.80755383,  84.68788086,  97.43350941,  71.77149973,
        83.92664287,  98.40711169,  79.6853544 ,  78.54945598,
        93.47096184, 101.05844279])

In [52]:
mae(pred, y_test)

4.401243389027048